body {
    background: #164bbb;
    font-family: sans-serif;
}

.materias {
    width: 90%;
    background: #5583e6;
    padding: 2px;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 30px;
}

.materia {
    display: flex;
    background: #8daff8;
}

.materia div {
    padding: 50px;
}

.materia .nota {
    background: #d8e8f5;
    flex-basis: 20px;
    text-align: center;
    font-weight: 700;
}

.materia .nombre {
    flex-grow: 1;
}